#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

#word
{
	width: 60%;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
body
{
	background: lightblue;
	text-align: center;
}